.jsonEditor {
  display: flex;
  flex-direction: column;

  &-body {
    position: relative;
    flex: 1 0 150px;
    > .x-monaco-editor {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
    }
  }

  &-toolbar {
    > * {
      margin: 2px;
    }
    flex: 0 0;
    margin: 0 -2px;
  }
}
